.home-container {
  display: flex;
  justify-content: space-between; /* Add space between items */
  align-items: center;
  text-align: center;
}

.profile-image {
  width: 400px; /* Adjust according to your design */
  height: auto;
}

@media only screen and (max-width: 600px) {
  .home-container {
    flex-direction: column-reverse; /* Stack the image on top in mobile view */
  }
  .profile-image {
    width: 150px;
    height: auto;
  }
}

.about-me{
  font-family: monospace;
  font-size: x-large;
  text-align: left;
}

.about-me::first-letter{
  margin-left: 2rem;
}
