.container {
  width: 100%;
  overflow: hidden;
}

.section {
  background-color: #323131;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: calc(100vw - 20px); /* 100vw minus padding */
  box-sizing: border-box; /* Ensure padding doesn't increase width */
}

.section:hover {
  background-color: rgb(40, 36, 36);
}

.sectionHeader {
  margin: 0;
}

.active {
  background-color: #323131; /* Change to whatever color you want for active section */
}

/* Update the bullet list for mobile screens */
.bulletList {
  list-style-type: none; /* Remove default list style */
  padding-left: 0; /* Remove default padding */
  columns: 3; /* Arrange items in a single column for mobile */
  text-align: left;
}

/* Ensure all text inside summaryContainer is visible */
.summaryContainer {
  font-family: monospace;
  text-align: left; /* Align text to left */
  width: 90%; /* Ensure full width */
  box-sizing: border-box; /* Include padding and border in element's total width */
  overflow: visible; /* Ensure no content is hidden */
  padding: 10px; /* Ensure enough padding for readability */
  max-height: none; /* Remove any height restrictions */
  height: auto; /* Allow the container to expand */
}

.summaryText::first-letter {
  margin-left: 1em; /* Adjust the indentation as needed */
}

/* Media query for mobile screens */
@media only screen and (max-width: 600px) {
  .section {
    width: 100%; /* Make sections full width on mobile */
  }
}
