#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */

nav {
  position: fixed;
  top: 5px;
  left: 5px;
  padding: 10px;
}

nav ul {
  list-style-type: none; /* Remove bullets from the list */
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

nav ul li a {
  text-decoration: none;
  color: #f1eeee;
}

nav ul li a:hover {
  color: white;
  font-weight: 5px;
  font-weight: bolder;
}
